# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

Aplicacion Desktop/FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.exe
Aplicacion Desktop/FrbaHotel/FrbaHotel/bin/Debug/FrbaHotel.exe
Aplicacion Desktop/FrbaHotel/FrbaHotel/bin/Debug/FrbaHotel.exe
Aplicacion Desktop/FrbaHotel/FrbaHotel/FrbaHotel.csproj
Aplicacion Desktop/FrbaHotel/FrbaHotel/FrbaHotel.csproj
Aplicacion Desktop/FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.csproj.GenerateResource.Cache
Aplicacion Desktop/FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.csproj.FileListAbsolute.txt
Aplicacion Desktop/FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.ABM_de_Usuario.Usuario_Alta.resources
Aplicacion Desktop/FrbaHotel/FrbaHotel/Program.cs
Aplicacion Desktop/FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.pdb
*.txt
Aplicacion Desktop/FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.csproj.GenerateResource.Cache
Aplicacion Desktop/FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.csproj.FileListAbsolute.txt
Aplicacion Desktop/FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.csproj.GenerateResource.Cache
Aplicacion Desktop/FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.pdb
Aplicacion Desktop/FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.csproj.GenerateResource.Cache
Aplicacion Desktop/FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.csproj.FileListAbsolute.txt
Aplicacion Desktop/FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.ABM_de_Usuario.Usuario_Baja.resources
Aplicacion Desktop/FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.ABM_de_Usuario.Usuarios.resources
Aplicacion Desktop/FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.csproj.FileListAbsolute.txt
Aplicacion Desktop/FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.ABM_de_Usuario.Usuario_Modificacion.resources
Aplicacion Desktop/FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.csproj.GenerateResource.Cache
Aplicacion Desktop/FrbaHotel/FrbaHotel/FrbaHotel.csproj
Aplicacion Desktop/FrbaHotel/FrbaHotel/bin/Debug/FrbaHotel.pdb
Aplicacion Desktop/FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.csproj.FileListAbsolute.txt
Aplicacion Desktop/FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.csproj.GenerateResource.Cache
Aplicacion Desktop/FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.exe
Aplicacion Desktop/FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.pdb
Aplicacion Desktop/FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.csproj.FileListAbsolute.txt
Aplicacion Desktop/FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.pdb
Aplicacion Desktop/FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.exe
Aplicacion Desktop/FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.csproj.GenerateResource.Cache
Aplicacion Desktop/FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.Prueba_Parameters.resources
Aplicacion Desktop/FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.pdb
Aplicacion Desktop/FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.csproj.GenerateResource.Cache
Aplicacion Desktop/FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.csproj.FileListAbsolute.txt
Aplicacion Desktop/FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.pdb
Aplicacion Desktop/FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.exe
Aplicacion Desktop/FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.pdb